.btnContainarDelete{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;
 }
 .continarDelete{
    display: flex;
    justify-content: space-between;
    height: 45px;
}
.spanDelete{
    color: wheat;
    padding-left: 10px;
    padding-right: 10px;
}
.delete-body{
    background-color: #11009E;
     
 }
 .delete-header{
    background-color: #4942E4;
 }