/* Footer container */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #3795BD;
}

/* Footer logo */
.footer-logo img {
  max-width: 100px;
}

/* Footer links */
.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  display: inline;
  margin-right: 10px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #eff6f2;
}

/* Footer social icons */
.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social ul li {
  display: inline;
  margin-right: 10px;
}

.footer-social ul li a {
  color: #fffbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3795BD;
  transition: background-color 0.3s ease;
}

.footer-social ul li a i {
  color: #f9f9f9;
}

.footer-social ul li a:hover {
  background-color: #522b77;
}

/* Footer contact */
.footer-contact {
  margin-top: 20px;
}

.footer-contact h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-contact p {
  margin: 5px 0;
  font-size: 14px;
}

/* Footer subscribe */
.footer-subscribe {
  margin-top: 20px;
}

.footer-subscribe h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-subscribe form {
  display: flex;
}

.footer-subscribe input[type="email"] {
  padding: 5px;
  border: 1px solid #111010;
  border-radius: 3px;
  margin-right: 5px;
}

.footer-subscribe button {
  padding: 5px 10px;
  background-color: #3795BD;
  color: #f6f3f3;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Footer bottom */
.footer-bottom {
  text-align: center;
  padding: 10px;
  background-color: #3795BD;
  font-size: 12px;
  color: #f7f3f3;
}

.footer-bottom p {
  margin: 5px;
}
